NEXT_PUBLIC_TYPESENSE_HOST=your-typesense-host.net
NEXT_PUBLIC_TYPESENSE_PORT=443
NEXT_PUBLIC_TYPESENSE_PROTOCOL=https
NEXT_PUBLIC_TYPESENSE_SEARCH_ONLY_API_KEY=your-search-only-api-key
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
